<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>JustInTappd · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <nav class="light-blue">
      <div class="nav-wrapper container">

        <a href="#" class="brand-logo left">JustInTappd</a>

        <%= with %User{} = user <- Session.current_user(@conn) do %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="beer.html">
                <%= gettext "Beer" %>
              </a>
            </li>
            <li>
              <a href="orders.html">
                <%= gettext "Orders" %>
              </a>
            </li>
            <li>
              <a href="sales.html">
                <%= gettext "Sales" %>
              </a>
            </li>
            <li>
              <a href="#!" class="dropdown-trigger" data-target="dropdown-user">
                <i class="material-icons left">person</i>
                <%= user.first_name %> <%= user.last_name %>
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
          
          <!-- User Dropdown -->
          <ul id="dropdown-user" class="dropdown-content">
            <li><a href="#!">Account</a></li>
            <li><a href="#!">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        <% else _ -> %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="/login">
                <%= gettext "Login" %>
              </a>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
