<section class="section">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1>
        <%= gettext "Welcome to %{name}!", name: "just_in_tappd" %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col 6 offset-s3">
      <p>
        We ❤️ you Just in Beer.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="row">
    <p>
      <%= gettext "My First Playground" %>
    </p>
  </div>
</section>
