<div class="grid-x align-center">
  <div class="cell small-8">
    <h1>
      <%= gettext "Welcome to %{name}!", name: "Just in Business" %>
    </h1>
  </div>
</div>
<div class="grid-x align-center">
  <div class="cell small-6">
    <p>
      We ❤️ you Just in Beer.
    </p>
  </div>
</div>

<div class="grid-x align-center">
  <div class="cell small-10">

  </div>
</div>
